apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o k8s/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: omnibioai
  name: omnibioai
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: omnibioai
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml -o k8s/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: omnibioai
    spec:
      containers:
        - args:
            - bash
            - -lc
            - python manage.py migrate && python manage.py runserver 0.0.0.0:8000
          env:
            - name: CELERY_BROKER_URL
              value: redis://redis:6379/1
            - name: CELERY_RESULT_BACKEND
              value: redis://redis:6379/2
            - name: DB_HOST
              value: mysql
            - name: DB_NAME
              value: omnibioai
            - name: DB_PASSWORD
              value: root
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: root
            - name: DEBUG
              value: "1"
            - name: DJANGO_SETTINGS_MODULE
              value: omnibioai.settings
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: TES_BASE_URL
              value: http://tes:8080
            - name: TOOLSERVER_BASE_URL
              value: http://toolserver:9090
            - name: WORKSPACE_ROOT
              value: /workspace
          image: omnibioai
          livenessProbe:
            exec:
              command:
                - python -c "import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/', timeout=2).read(); print('ok')"
            failureThreshold: 30
            periodSeconds: 5
            timeoutSeconds: 5
          name: omnibioai-workbench
          ports:
            - containerPort: 8000
              protocol: TCP
          volumeMounts:
            - mountPath: /workspace
              name: workspace
      restartPolicy: Always
      volumes:
        - name: workspace
          persistentVolumeClaim:
            claimName: workspace
