apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o k8s/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: tes
  name: tes
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: tes
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml -o k8s/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: tes
    spec:
      containers:
        - args:
            - bash
            - -lc
            - ./scripts/restart_tes.sh
          env:
            - name: HOST
              value: 0.0.0.0
            - name: PORT
              value: "8080"
            - name: TES_UPGRADE
              value: "0"
            - name: TES_WORKDIR
              value: /workspace/omnibioai-tool-exec/out
            - name: TOOLSERVER_BASE_URL
              value: http://toolserver:9090
          image: tes
          livenessProbe:
            exec:
              command:
                - python -c "import urllib.request; urllib.request.urlopen('http://127.0.0.1:8080/health', timeout=2).read(); print('ok')"
            failureThreshold: 30
            periodSeconds: 5
            timeoutSeconds: 5
          name: omnibioai-tes
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /workspace
              name: workspace
      restartPolicy: Always
      volumes:
        - name: workspace
          persistentVolumeClaim:
            claimName: workspace
