apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: workspace
  name: workspace
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
